*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.app{
  display: grid;
  place-items: center;
  background-color: #1C1921;
  height: 100vh;
}
.app__body{
   width: 90vw;
   height: 90vh;
   background-color: #fff;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
   margin-top: 20px;
   display: flex;

}
.sidebar__header{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  /* background-color:red; */
  border-bottom: 1px solid grey;
}

.sidebar__icon{
  width: 10vw;
  display: flex;
  justify-content: center;
}
.sidebar__icon > .MuiSvgIcon-root{
  margin-right: 5px;

}